button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
input,
textarea,
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  width: 12em;
  padding: 5px;
  margin: 10px 10px 10px 0;
}

input[type="url"] {
  width: 20em;
}
textarea {
  vertical-align: middle;
}
nav {
  float: right;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  background-color: lightcoral;
}

.menu li {
  background-color: aqua;
  border-radius: 10px;
}

.menu li:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.java li {
  display: inline-block;
  background-color: burlywood;
  padding: 10px 15px;
  transition: all 0.8s ease;
}

.java li:hover {
  cursor: pointer;
  background-color: coral;
}

#LowerPage,
#gallery {
  clear: all;
}
